<launch>
  <arg name="robot" default="fetch"/>
  
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find homeskies_gazebo)/worlds/homeskies.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  <!-- Oh, you wanted a robot? -->
  <include file="$(find fetch_gazebo)/launch/include/$(arg robot).launch.xml" />

</launch>